.gif-buttons-space{
    margin: 1%;
}

.gif-but{
    margin: .5%;
}

.add-panel{
    margin: 1%;
}

.gif-panel{
    margin: 1%;

}

body{
    background-image: url("../images/giphy_logo.png ")
}

.gifNail{
    float: left;
    height: 287px;
    margin: .5%;
    width: 30%;
}